*.env
*.exe
*.sql
*.ssh
*.osu
*.o
*.d
*.token
*.apikeys
*.pyc
*.stackdump
cache
beatmapsests
beatmaps
commits_done
update.ps1
*.lprof
bm_manager/bin
test*
*.bkp
dummy.txt
*/node_modules
*/node_modules/
*/node_modules/*
*/node_modules/*/*
*/*/.bin/
*.bin
client_manager/node_modules/.bin/mime
HomeModulesSaves
desktop_app/app/front/gui2.html
desktop_app/app/lib/log.log
desktop_app/userPreferences.ini
desktop_app/userPreferences.ini
desktop_app/log.log
desktop_app/config.ini
desktop_app/build/pre-build.js
desktop_app/build/update.js
desktop_app/package-lock.json
