.flag-ad {
	background-image: url('./flags/ad.svg');
}

.flag-ae {
	background-image: url('./flags/ae.svg');
}

.flag-af {
	background-image: url('./flags/af.svg');
}

.flag-ag {
	background-image: url('./flags/ag.svg');
}

.flag-ai {
	background-image: url('./flags/ai.svg');
}

.flag-al {
	background-image: url('./flags/al.svg');
}

.flag-am {
	background-image: url('./flags/am.svg');
}

.flag-ao {
	background-image: url('./flags/ao.svg');
}

.flag-aq {
	background-image: url('./flags/aq.svg');
}

.flag-ar {
	background-image: url('./flags/ar.svg');
}

.flag-arab {
	background-image: url('./flags/arab.svg');
}

.flag-as {
	background-image: url('./flags/as.svg');
}

.flag-at {
	background-image: url('./flags/at.svg');
}

.flag-au {
	background-image: url('./flags/au.svg');
}

.flag-aw {
	background-image: url('./flags/aw.svg');
}

.flag-ax {
	background-image: url('./flags/ax.svg');
}

.flag-az {
	background-image: url('./flags/az.svg');
}

.flag-ba {
	background-image: url('./flags/ba.svg');
}

.flag-bb {
	background-image: url('./flags/bb.svg');
}

.flag-bd {
	background-image: url('./flags/bd.svg');
}

.flag-be {
	background-image: url('./flags/be.svg');
}

.flag-bf {
	background-image: url('./flags/bf.svg');
}

.flag-bg {
	background-image: url('./flags/bg.svg');
}

.flag-bh {
	background-image: url('./flags/bh.svg');
}

.flag-bi {
	background-image: url('./flags/bi.svg');
}

.flag-bj {
	background-image: url('./flags/bj.svg');
}

.flag-bl {
	background-image: url('./flags/bl.svg');
}

.flag-bm {
	background-image: url('./flags/bm.svg');
}

.flag-bn {
	background-image: url('./flags/bn.svg');
}

.flag-bo {
	background-image: url('./flags/bo.svg');
}

.flag-bq {
	background-image: url('./flags/bq.svg');
}

.flag-br {
	background-image: url('./flags/br.svg');
}

.flag-bs {
	background-image: url('./flags/bs.svg');
}

.flag-bt {
	background-image: url('./flags/bt.svg');
}

.flag-bv {
	background-image: url('./flags/bv.svg');
}

.flag-bw {
	background-image: url('./flags/bw.svg');
}

.flag-by {
	background-image: url('./flags/by.svg');
}

.flag-bz {
	background-image: url('./flags/bz.svg');
}

.flag-ca {
	background-image: url('./flags/ca.svg');
}

.flag-cc {
	background-image: url('./flags/cc.svg');
}

.flag-cd {
	background-image: url('./flags/cd.svg');
}

.flag-cefta {
	background-image: url('./flags/cefta.svg');
}

.flag-cf {
	background-image: url('./flags/cf.svg');
}

.flag-cg {
	background-image: url('./flags/cg.svg');
}

.flag-ch {
	background-image: url('./flags/ch.svg');
}

.flag-ci {
	background-image: url('./flags/ci.svg');
}

.flag-ck {
	background-image: url('./flags/ck.svg');
}

.flag-cl {
	background-image: url('./flags/cl.svg');
}

.flag-cm {
	background-image: url('./flags/cm.svg');
}

.flag-cn {
	background-image: url('./flags/cn.svg');
}

.flag-co {
	background-image: url('./flags/co.svg');
}

.flag-cp {
	background-image: url('./flags/cp.svg');
}

.flag-cr {
	background-image: url('./flags/cr.svg');
}

.flag-cu {
	background-image: url('./flags/cu.svg');
}

.flag-cv {
	background-image: url('./flags/cv.svg');
}

.flag-cw {
	background-image: url('./flags/cw.svg');
}

.flag-cx {
	background-image: url('./flags/cx.svg');
}

.flag-cy {
	background-image: url('./flags/cy.svg');
}

.flag-cz {
	background-image: url('./flags/cz.svg');
}

.flag-de {
	background-image: url('./flags/de.svg');
}

.flag-dg {
	background-image: url('./flags/dg.svg');
}

.flag-dj {
	background-image: url('./flags/dj.svg');
}

.flag-dk {
	background-image: url('./flags/dk.svg');
}

.flag-dm {
	background-image: url('./flags/dm.svg');
}

.flag-do {
	background-image: url('./flags/do.svg');
}

.flag-dz {
	background-image: url('./flags/dz.svg');
}

.flag-eac {
	background-image: url('./flags/eac.svg');
}

.flag-ec {
	background-image: url('./flags/ec.svg');
}

.flag-ee {
	background-image: url('./flags/ee.svg');
}

.flag-eg {
	background-image: url('./flags/eg.svg');
}

.flag-eh {
	background-image: url('./flags/eh.svg');
}

.flag-er {
	background-image: url('./flags/er.svg');
}

.flag-es-ct {
	background-image: url('./flags/es-ct.svg');
}

.flag-es-ga {
	background-image: url('./flags/es-ga.svg');
}

.flag-es-pv {
	background-image: url('./flags/es-pv.svg');
}

.flag-es {
	background-image: url('./flags/es.svg');
}

.flag-et {
	background-image: url('./flags/et.svg');
}

.flag-eu {
	background-image: url('./flags/eu.svg');
}

.flag-fi {
	background-image: url('./flags/fi.svg');
}

.flag-fj {
	background-image: url('./flags/fj.svg');
}

.flag-fk {
	background-image: url('./flags/fk.svg');
}

.flag-fm {
	background-image: url('./flags/fm.svg');
}

.flag-fo {
	background-image: url('./flags/fo.svg');
}

.flag-fr {
	background-image: url('./flags/fr.svg');
}

.flag-ga {
	background-image: url('./flags/ga.svg');
}

.flag-gb-eng {
	background-image: url('./flags/gb-eng.svg');
}

.flag-gb-nir {
	background-image: url('./flags/gb-nir.svg');
}

.flag-gb-sct {
	background-image: url('./flags/gb-sct.svg');
}

.flag-gb-wls {
	background-image: url('./flags/gb-wls.svg');
}

.flag-gb {
	background-image: url('./flags/gb.svg');
}

.flag-gd {
	background-image: url('./flags/gd.svg');
}

.flag-ge {
	background-image: url('./flags/ge.svg');
}

.flag-gf {
	background-image: url('./flags/gf.svg');
}

.flag-gg {
	background-image: url('./flags/gg.svg');
}

.flag-gh {
	background-image: url('./flags/gh.svg');
}

.flag-gi {
	background-image: url('./flags/gi.svg');
}

.flag-gl {
	background-image: url('./flags/gl.svg');
}

.flag-gm {
	background-image: url('./flags/gm.svg');
}

.flag-gn {
	background-image: url('./flags/gn.svg');
}

.flag-gp {
	background-image: url('./flags/gp.svg');
}

.flag-gq {
	background-image: url('./flags/gq.svg');
}

.flag-gr {
	background-image: url('./flags/gr.svg');
}

.flag-gs {
	background-image: url('./flags/gs.svg');
}

.flag-gt {
	background-image: url('./flags/gt.svg');
}

.flag-gu {
	background-image: url('./flags/gu.svg');
}

.flag-gw {
	background-image: url('./flags/gw.svg');
}

.flag-gy {
	background-image: url('./flags/gy.svg');
}

.flag-hk {
	background-image: url('./flags/hk.svg');
}

.flag-hm {
	background-image: url('./flags/hm.svg');
}

.flag-hn {
	background-image: url('./flags/hn.svg');
}

.flag-hr {
	background-image: url('./flags/hr.svg');
}

.flag-ht {
	background-image: url('./flags/ht.svg');
}

.flag-hu {
	background-image: url('./flags/hu.svg');
}

.flag-ic {
	background-image: url('./flags/ic.svg');
}

.flag-id {
	background-image: url('./flags/id.svg');
}

.flag-ie {
	background-image: url('./flags/ie.svg');
}

.flag-il {
	background-image: url('./flags/il.svg');
}

.flag-im {
	background-image: url('./flags/im.svg');
}

.flag-in {
	background-image: url('./flags/in.svg');
}

.flag-io {
	background-image: url('./flags/io.svg');
}

.flag-iq {
	background-image: url('./flags/iq.svg');
}

.flag-ir {
	background-image: url('./flags/ir.svg');
}

.flag-is {
	background-image: url('./flags/is.svg');
}

.flag-it {
	background-image: url('./flags/it.svg');
}

.flag-je {
	background-image: url('./flags/je.svg');
}

.flag-jm {
	background-image: url('./flags/jm.svg');
}

.flag-jo {
	background-image: url('./flags/jo.svg');
}

.flag-jp {
	background-image: url('./flags/jp.svg');
}

.flag-ke {
	background-image: url('./flags/ke.svg');
}

.flag-kg {
	background-image: url('./flags/kg.svg');
}

.flag-kh {
	background-image: url('./flags/kh.svg');
}

.flag-ki {
	background-image: url('./flags/ki.svg');
}

.flag-km {
	background-image: url('./flags/km.svg');
}

.flag-kn {
	background-image: url('./flags/kn.svg');
}

.flag-kp {
	background-image: url('./flags/kp.svg');
}

.flag-kr {
	background-image: url('./flags/kr.svg');
}

.flag-kw {
	background-image: url('./flags/kw.svg');
}

.flag-ky {
	background-image: url('./flags/ky.svg');
}

.flag-kz {
	background-image: url('./flags/kz.svg');
}

.flag-la {
	background-image: url('./flags/la.svg');
}

.flag-lb {
	background-image: url('./flags/lb.svg');
}

.flag-lc {
	background-image: url('./flags/lc.svg');
}

.flag-li {
	background-image: url('./flags/li.svg');
}

.flag-lk {
	background-image: url('./flags/lk.svg');
}

.flag-lr {
	background-image: url('./flags/lr.svg');
}

.flag-ls {
	background-image: url('./flags/ls.svg');
}

.flag-lt {
	background-image: url('./flags/lt.svg');
}

.flag-lu {
	background-image: url('./flags/lu.svg');
}

.flag-lv {
	background-image: url('./flags/lv.svg');
}

.flag-ly {
	background-image: url('./flags/ly.svg');
}

.flag-ma {
	background-image: url('./flags/ma.svg');
}

.flag-mc {
	background-image: url('./flags/mc.svg');
}

.flag-md {
	background-image: url('./flags/md.svg');
}

.flag-me {
	background-image: url('./flags/me.svg');
}

.flag-mf {
	background-image: url('./flags/mf.svg');
}

.flag-mg {
	background-image: url('./flags/mg.svg');
}

.flag-mh {
	background-image: url('./flags/mh.svg');
}

.flag-mk {
	background-image: url('./flags/mk.svg');
}

.flag-ml {
	background-image: url('./flags/ml.svg');
}

.flag-mm {
	background-image: url('./flags/mm.svg');
}

.flag-mn {
	background-image: url('./flags/mn.svg');
}

.flag-mo {
	background-image: url('./flags/mo.svg');
}

.flag-mp {
	background-image: url('./flags/mp.svg');
}

.flag-mq {
	background-image: url('./flags/mq.svg');
}

.flag-mr {
	background-image: url('./flags/mr.svg');
}

.flag-ms {
	background-image: url('./flags/ms.svg');
}

.flag-mt {
	background-image: url('./flags/mt.svg');
}

.flag-mu {
	background-image: url('./flags/mu.svg');
}

.flag-mv {
	background-image: url('./flags/mv.svg');
}

.flag-mw {
	background-image: url('./flags/mw.svg');
}

.flag-mx {
	background-image: url('./flags/mx.svg');
}

.flag-my {
	background-image: url('./flags/my.svg');
}

.flag-mz {
	background-image: url('./flags/mz.svg');
}

.flag-na {
	background-image: url('./flags/na.svg');
}

.flag-nc {
	background-image: url('./flags/nc.svg');
}

.flag-ne {
	background-image: url('./flags/ne.svg');
}

.flag-nf {
	background-image: url('./flags/nf.svg');
}

.flag-ng {
	background-image: url('./flags/ng.svg');
}

.flag-ni {
	background-image: url('./flags/ni.svg');
}

.flag-nl {
	background-image: url('./flags/nl.svg');
}

.flag-no {
	background-image: url('./flags/no.svg');
}

.flag-np {
	background-image: url('./flags/np.svg');
}

.flag-nr {
	background-image: url('./flags/nr.svg');
}

.flag-nu {
	background-image: url('./flags/nu.svg');
}

.flag-nz {
	background-image: url('./flags/nz.svg');
}

.flag-om {
	background-image: url('./flags/om.svg');
}

.flag-pa {
	background-image: url('./flags/pa.svg');
}

.flag-pc {
	background-image: url('./flags/pc.svg');
}

.flag-pe {
	background-image: url('./flags/pe.svg');
}

.flag-pf {
	background-image: url('./flags/pf.svg');
}

.flag-pg {
	background-image: url('./flags/pg.svg');
}

.flag-ph {
	background-image: url('./flags/ph.svg');
}

.flag-pk {
	background-image: url('./flags/pk.svg');
}

.flag-pl {
	background-image: url('./flags/pl.svg');
}

.flag-pm {
	background-image: url('./flags/pm.svg');
}

.flag-pn {
	background-image: url('./flags/pn.svg');
}

.flag-pr {
	background-image: url('./flags/pr.svg');
}

.flag-ps {
	background-image: url('./flags/ps.svg');
}

.flag-pt {
	background-image: url('./flags/pt.svg');
}

.flag-pw {
	background-image: url('./flags/pw.svg');
}

.flag-py {
	background-image: url('./flags/py.svg');
}

.flag-qa {
	background-image: url('./flags/qa.svg');
}

.flag-re {
	background-image: url('./flags/re.svg');
}

.flag-ro {
	background-image: url('./flags/ro.svg');
}

.flag-rs {
	background-image: url('./flags/rs.svg');
}

.flag-ru {
	background-image: url('./flags/ru.svg');
}

.flag-rw {
	background-image: url('./flags/rw.svg');
}

.flag-sa {
	background-image: url('./flags/sa.svg');
}

.flag-sb {
	background-image: url('./flags/sb.svg');
}

.flag-sc {
	background-image: url('./flags/sc.svg');
}

.flag-sd {
	background-image: url('./flags/sd.svg');
}

.flag-se {
	background-image: url('./flags/se.svg');
}

.flag-sg {
	background-image: url('./flags/sg.svg');
}

.flag-sh-ac {
	background-image: url('./flags/sh-ac.svg');
}

.flag-sh-hl {
	background-image: url('./flags/sh-hl.svg');
}

.flag-sh-ta {
	background-image: url('./flags/sh-ta.svg');
}

.flag-sh {
	background-image: url('./flags/sh.svg');
}

.flag-si {
	background-image: url('./flags/si.svg');
}

.flag-sj {
	background-image: url('./flags/sj.svg');
}

.flag-sk {
	background-image: url('./flags/sk.svg');
}

.flag-sl {
	background-image: url('./flags/sl.svg');
}

.flag-sm {
	background-image: url('./flags/sm.svg');
}

.flag-sn {
	background-image: url('./flags/sn.svg');
}

.flag-so {
	background-image: url('./flags/so.svg');
}

.flag-sr {
	background-image: url('./flags/sr.svg');
}

.flag-ss {
	background-image: url('./flags/ss.svg');
}

.flag-st {
	background-image: url('./flags/st.svg');
}

.flag-sv {
	background-image: url('./flags/sv.svg');
}

.flag-sx {
	background-image: url('./flags/sx.svg');
}

.flag-sy {
	background-image: url('./flags/sy.svg');
}

.flag-sz {
	background-image: url('./flags/sz.svg');
}

.flag-tc {
	background-image: url('./flags/tc.svg');
}

.flag-td {
	background-image: url('./flags/td.svg');
}

.flag-tf {
	background-image: url('./flags/tf.svg');
}

.flag-tg {
	background-image: url('./flags/tg.svg');
}

.flag-th {
	background-image: url('./flags/th.svg');
}

.flag-tj {
	background-image: url('./flags/tj.svg');
}

.flag-tk {
	background-image: url('./flags/tk.svg');
}

.flag-tl {
	background-image: url('./flags/tl.svg');
}

.flag-tm {
	background-image: url('./flags/tm.svg');
}

.flag-tn {
	background-image: url('./flags/tn.svg');
}

.flag-to {
	background-image: url('./flags/to.svg');
}

.flag-tr {
	background-image: url('./flags/tr.svg');
}

.flag-tt {
	background-image: url('./flags/tt.svg');
}

.flag-tv {
	background-image: url('./flags/tv.svg');
}

.flag-tw {
	background-image: url('./flags/tw.svg');
}

.flag-tz {
	background-image: url('./flags/tz.svg');
}

.flag-ua {
	background-image: url('./flags/ua.svg');
}

.flag-ug {
	background-image: url('./flags/ug.svg');
}

.flag-um {
	background-image: url('./flags/um.svg');
}

.flag-un {
	background-image: url('./flags/un.svg');
}

.flag-us {
	background-image: url('./flags/us.svg');
}

.flag-uy {
	background-image: url('./flags/uy.svg');
}

.flag-uz {
	background-image: url('./flags/uz.svg');
}

.flag-va {
	background-image: url('./flags/va.svg');
}

.flag-vc {
	background-image: url('./flags/vc.svg');
}

.flag-ve {
	background-image: url('./flags/ve.svg');
}

.flag-vg {
	background-image: url('./flags/vg.svg');
}

.flag-vi {
	background-image: url('./flags/vi.svg');
}

.flag-vn {
	background-image: url('./flags/vn.svg');
}

.flag-vu {
	background-image: url('./flags/vu.svg');
}

.flag-wf {
	background-image: url('./flags/wf.svg');
}

.flag-ws {
	background-image: url('./flags/ws.svg');
}

.flag-xk {
	background-image: url('./flags/xk.svg');
}

.flag-xx {
	background-image: url('./flags/xx.svg');
}

.flag-ye {
	background-image: url('./flags/ye.svg');
}

.flag-yt {
	background-image: url('./flags/yt.svg');
}

.flag-za {
	background-image: url('./flags/za.svg');
}

.flag-zm {
	background-image: url('./flags/zm.svg');
}

.flag-zw {
	background-image: url('./flags/zw.svg');
}
