body {
    margin: 0;
    padding: 0;
    overflow: hidden;
   /* margin-top: 20px;
    */
   /* margin-left: 20px;
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
:root {
    --background-all: #212141;
    --background-side-panel: #333363;
    --background-ender-element: #222346;
    --background-box: #272947;
    --background-infos: #3a3d6b;
    --background-warning : rgb(230, 108, 108);
    --text-color-inactive: #9195b2;
    --text-color-active: white;
    --link-color: white;
    --button-color: #635eee;
    --link-infos : #ecc74c;
   /* --link-infos : #ff66ab;
    */
}
.context-menu {
    position: absolute;
    z-index: 999;
    height: 700px;
    width: 100%;
   /* top:20px;
    */
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    display: none;
    opacity: 0;
    transition: all 0.12s ease-in-out;
}
.over-info {
    display: none;
    position: absolute;
    z-index: 999;
    min-height: 22px;
    opacity: 0.94;
    justify-content: center;
    max-width: 250px;
    align-items: center;
    word-wrap: break-word;
    background-color: var(--background-infos);
    color: var(--text-color-inactive);
    border-radius: 5Px;
    padding: 5px 10px 5px 10px;
}
.over-info.show {
    display: flex;
}
.context-menu .button-context {
    height: 70px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-box);
    font-size: 22px;
    color: white;
    padding:0;
    margin: 0;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.12s ease-in-out;
}
.context-menu .button-context:hover {
    font-size: 23px;
}
body {
    user-select: none;
}
rtl {
    text-align: right;
}
.context-menu.show {
    display: flex;
    opacity: 1;
}
err {
    color: red;
}
#root {
    border-radius: 20px;
    overflow: hidden;
    width: 1400px;
    height: 700px;
    display: flex;
    background-color: var(--background-all);
}
.bg-img {
    background-image: url('../src/cover.jpg');
    background-repeat: no-repeat;
    background-size:250%;
    height: 1000px;
    background-position-y: -100px;
}
.nocolor {
    background-color: transparent!important;
    backdrop-filter: blur(15px);
}
.white-text {
    color: white;
}
#side_left_menu {
    height: 100%;
    width: 15%;
    background-color: var(--background-side-panel);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    gap: 50px;
    transition: all 0.15s ease-in-out;
}
#side_left_menu.hide {
    width: 0%;
}
#side_left_menu::after{
    position: absolute;
    content: var(--after-content, '❬');
    color: white;
    font-size: 30px;
   /* ❭ */
    height: 100%;
    width: 12px;
    left: var(--after-content-width-left, 13.4%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    cursor: pointer;
}
#main-content {
    background-color: var(--background-all);
    height: 100%;
    width: 85%;
    box-shadow: inset 2px 0px 4px rgb(32, 31, 31);
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding: 35px;
    padding-top: 0px;
}
#main-content.full {
    width: 100%;
}
.page {
    margin-top: 40px;
}
.ui-actions {
    position: absolute;
    -webkit-app-region: drag;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    width: 82.3%;
}
#close-button {
    -webkit-app-region: no-drag;
   /* Assure que le bouton de fermeture n'est pas une zone de déplacement */
    width: 46px;
   /* ou la taille que vous avez définie pour le bouton */
    height: 30px;
   /* ou la taille que vous avez définie pour le bouton */
    line-height: 30px;
   /* pour centrer le texte verticalement si nécessaire */
    text-align: center;
   /* pour centrer le texte horizontalement */
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
   /* Arrondi correspondant à celui de la fenêtre */
}
#close-button:hover {
    background-color: rgb(163, 61, 61);
   /* Couleur de fond au survol */
}
.user-profil {
    background-color: var(--background-ender-element);
    height: 62px;
    width: 85%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.user-profil .avatar-img {
    height: 62px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-profil .avatar-img img{
    height: 48px;
    width: 48px;
    border-radius: 7px;
}
.user-profil .users_place {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 5px;
    margin-top: -3px;
    padding-left: 2px;
}
l {
    color: var(--link-infos);
}
.user-profil .users_place #username {
    padding-top: 3px;
    color: var(--text-color-active);
    font-size: 12px;
    overflow: hidden;
    height: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
}
.user-profil .users_place #player_infos {
    color: var(--text-color-inactive);
    font-size: 10px;
}
#isSupporter {
    font-size: 10px;
    display: flex;
    flex-direction: row;
   /* justify-content: center;
    */
    align-items: center;
    gap: 4px;
    color: white;
}
.menu-list {
    width: 80%;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.menu-other {
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}
.menu-list .navigate-page, .menu-other .navigate-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.12s ease-in-out;
}
.menu-list .navigate-page:hover, .menu-other .navigate-page:hover{
    background-color: rgba(255, 255, 255, 0.151);
}
.menu-list .navigate-page.active, .menu-other .navigate-page.active {
    background-color: var(--button-color);
    cursor: pointer;
}
.menu-list .navigate-page * {
    pointer-events: none;
}
.menu-list .navigate-page span, .menu-other .navigate-page span{
    color: var(--text-color-active);
    margin-left: 10px;
    margin-top: -2px;
}
#software_infos {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-bottom: 15px;
    margin-top: 10px;
    color: rgb(94, 94, 94);
    letter-spacing: -1px;
}
.page {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.player-music-bg {
    width: 100%;
    height: 100px;
    padding:0px!important;
    overflow: hidden;
    background-color: transparent!important;
}
.player-global {
    width: 100%;
    height: 120px;
}
.player-timeline {
    margin-top: 6px;
    width: 100%;
    height: 10px;
    display: flex;
    overflow: hidden;
}
#timelineProgress {
    width: 50%;
    background-color: var(--background-infos);
}
.player-timestamp {
    margin-top: 5px;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-color-inactive);
    font-size: 12px;
    font-weight: 800;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.music-infos {
    margin-top: -35px;
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.music-infos span {
    background-color: rgba(0, 0, 0, 0.226);
   ;
    display: flex;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    width: 900px;
    overflow:hidden;
    justify-content: center;
    padding-bottom: 10px;
}
.music-infos span:nth-child(1) {
    border-radius: 10px 10px 0 0;
    font-size: 22px;
}
.music-infos span:nth-child(2) {
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
.music-infos span:nth-child(3) {
    font-size: 11px;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
}
.player-timeline {
    background-color: ;
}
.music-actions {
    margin-top: -26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.music-actions span{
    background-color: rgba(4, 26, 88, 0.301);
}
.music-actions span:nth-child(1){
    border-radius: 0 0 0 8px;
}
.music-actions span:nth-child(3){
    border-radius: 0 0 8px 0;
}
.box.row {
    display: flex;
    flex-direction: row;
    background-color: #2121414f!important;
}
.mapSpecs {
    gap: 20px;
    justify-content: space-between;
}
.mapSpecs span{
    letter-spacing: -1px;
   /* width: 50%;
    */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--text-color-inactive);
}
.mapSpecsdiv span m {
    cursor: default;
}
.box .left-side, .box .right-side{
    display: flex;
    width: 35%;
    flex-direction: column;
}
.box .right-side{
    display: flex;
    width: 60%;
    flex-direction: column;
}
.unique-stat.transparent label{
    background-color: transparent;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.unique-stat.transparent span{
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.801);
}
@keyframes moveImage {
    0% {
        object-position: 10% 100%;
   }
    20% {
        object-position: 0% 80%;
   }
    40% {
        object-position: 20% 100%;
   }
    60% {
        object-position: 50% 50%;
   }
    80% {
        object-position: 25% 80%;
   }
    100% {
        object-position: 75% 90%;
   }
}
.player-music-bg .map_background {
    height: 100px;
    overflow: hidden;
    z-index: 2;
}
.player-music-bg .map_background img {
    z-index: -2;
    width: 1110px;
   /* Largeur fixée pour éviter la déformation */
    height: 100px;
   /* Hauteur fixée */
    object-fit: cover;
   /* Couvre le conteneur sans déformer l'image */
}
.user-basic-infos {
    width: 35%;
    height: 610px;
}
.ranking-stat {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
}
.no-toggle {
    display: none!important;
}
.ranking-stat div {
    height: 25px;
    width: 62%;
    display: flex;
    justify-content: end;
    gap: 14px;
}
.ranking-stat div span{
    letter-spacing: -1px;
   /* width: 50%;
    */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--text-color-inactive);
}
.ranking-stat div span m {
    cursor: default;
}
.box {
    background-color: var(--background-box);
    padding: 10px;
    border-radius: 14px;
    padding-top: 0px;
}
.boxDisab {
    background-color: var(--background-box);
    padding: 10px;
    border-radius: 14px;
    padding-top: 0px;
}
.box .title {
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: var(--text-color-active);
    border-bottom: 2px solid rgba(255, 255, 255, 0.062);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box .title .subtitle{
    font-size: 11px;
    display: flex;
    height: 9px;
    align-items: center;
    padding-left: 50px;
    color: var(--text-color-inactive);
}
.box .title-scores .sorted-by {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    height: 40px;
}
.box .title-scores .sorted-by m {
    margin-top: 6px;
}
.box .title-scores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: var(--text-color-active);
    border-bottom: 2px solid rgba(255, 255, 255, 0.062);
    display: flex;
    align-items: center;
}
.box.full {
    width: 100%;
}
.spectate {
    height: 610px;
}
.player-spectacle-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.video-player {
    width: 100%;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.call-to-actions {
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    transition: all 0.5 ease-in-out;
}
#myVideo {
    outline: none;
   /* Enlève toute bordure qui pourrait être visible sur le focus */
}
.call-to-actions #callToActions {
    height: 50px;
    display: flex;
    background-color: rgba(226, 223, 223, 0.082);
    margin-top: 60px;
    transition: all 0.15s ease-in-out;
   /* flex-direction: row;
    */
   /* justify-content: center;
    */
}
.call-to-actions #callToActions span {
   /* outline: 1px solid white;
    */
   /* background-color: blue;
    */
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
}
.btn-embeds {
    display: flex;
    width: 100%;
   /* background-color: red;
    */
    height: 40px;
    bottom: 0;
    margin-top: 5px;
    position: relative;
}
.btn-embeds.opacity {
    opacity: 0.3;
    transition: opacity ease;
}
.btn-embeds.edit-drag {
    display: none;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 40px;
    z-index: 3;
}
/* draggedItem.style="" */
.btn-embeds.edit-drag.show {
    display: flex;
}
.btn-embeds .button{
    width: 8.33%;
   /* outline: 1px solid white;
    */
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent!important;
}
.btn-player.prepare-to-drag {
    color: white!important;
}
.watermark {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 100%;
}
.call-to-actions #callToActions .timestamp {
    justify-content: start;
    padding-left: 10px;
    width: 109px!important;
    font-size: 11px;
    color: white!important;
}
.player-spectacle-min {
    overflow: hidden;
    height: 255px;
    width: 449px;
    position: absolute;
    z-index: 2;
    left: 905px;
    top: 407px;
    display: none;
    background-color: black;
    border-radius: 8px;
    transition: outline 0.2s ease-in-out;
    outline: 2px solid rgba(0, 0, 0, 0.178);
    justify-content: center;
    align-items: center;
}
#player2 {
    display: flex;
    position: absolute;
}
.overlayResizing{
    z-index: 3;
    position: absolute;
    width: 8px;
    height: 8px;
    display: none;
}
.overlayResizing.allow {
    display: flex;
}
#ovr1 {
    top: 0;
    right: 0;
    cursor: ne-resize;
   /* haut droite */
}
#ovr2 {
    cursor: se-resize;
    bottom: 0;
    right: 0;
   /* bas droite */
}
#ovr3 {
    cursor: se-resize;
    left: 0;
    top: 0;
   /* haut gauche */
}
#ovr4 {
    cursor: ne-resize;
    left: 0;
    bottom: 0;
   /* bas gauche */
}
#overlayMiniPlayer {
    display: flex;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    z-index: 888;
    cursor: pointer;
    border-radius: 6px;
}
.player-spectacle-min:hover{
    outline: 2px solid rgba(0, 0, 0, 0.623);
}
.player-spectacle-min.show {
    display: flex;
}
.call-to-actions #callToActions.show {
    margin-top: 10px!important;
    transition : all 0.15s ease-in-out;
}
.player-spectacle {
    display: flex;
    height: 555px;
    width: 987px;
    z-index: 2;
    background-color: black;
    position: relative;
}
.btn-gamemode {
    height: 28px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}
.btn-gamemode span {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    border-radius: 5px;
    color: var(--text-color-inactive);
    cursor: pointer;
}
.btn-gamemode span:hover {
    background-color: rgba(255, 255, 255, 0.151);
}
.btn-gamemode span.active {
    color: var(--text-color-active);
    background-color: var(--button-color);
    cursor: default;
}
.user-statistics {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}
.unique-stat {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
}
.unique-stat label, .ranking-stat label {
    width: 40%;
    background-color: var(--background-infos);
    color: var(--text-color-active);
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 3px 3px 6px 3px;
}
.unique-stat span {
    width: 50%;
    color: var(--text-color-inactive);
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 45px;
}
#graph_rank {
    width: calc(100% - 10px);
    height: 160px;
    background-color: var(--background-infos);
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: column;
   /* background-color: red;
    */
}
#graph_rank span{
    height: 45px;
    color: white;
}
#graphRanKArea {
    width: 100%;
    height: calc(100% - 10px);
    display: flex;
   /* margin-left: -5.1px;
    */
    margin-top: -6px;
   /* background-color: red;
    */
}
#graph_rank img {
    width: 100%;
    height: calc(100% - 45px);
}
.scores-list {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 620px;
}
.list-score {
    display: flex;
    flex-direction: column;
    height: 645px;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list-score::-webkit-scrollbar {
    width: 0px;
}
.list-score .toprank-element {
    width: 100%;
    min-height: 50px;
    background-color: var(--background-box);
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    cursor: pointer;
}
.toprank-element:nth-child(1) .bm_infos .map_title {
    color:#ffee00;
}
.toprank-element:nth-child(2) .bm_infos .map_title {
    color:#bedbc2;
}
.toprank-element:nth-child(3) .bm_infos .map_title {
    color:#f79b63;
}
.toprank-element .elem {
    height: 100%;
    display: flex;
    color: white;
}
.toprank-element .rank{
    width: 9%;
    font-size: 24px;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
   /* background-color: red;
    */
}
.toprank-element .bm_infos{
   /* background-color: blue;
    */
    width: 59%;
    flex-direction: column;
}
.toprank-element .bm_infos .map_title {
    display: flex;
    min-height: 50%;
    font-size: 14px;
    align-items: center;
}
.toprank-element .bm_infos .under-infos {
    font-size: 10px;
    color: var(--text-color-inactive);
}
.toprank-element .mods{
    display: flex;
   /* background-color: red;
    */
    width: 10%;
    justify-content: center;
    align-items: center;
   /* background-color: yellow;
    */
    text-align: center;
    flex-wrap: wrap;
    padding-top: 4px;
    padding-bottom: 2px;
}
.toprank-element .pp{
    width: 12%;
    color: var(--text-color-inactive);
    font-weight: 800;
    letter-spacing: -2px;
   /* background-color: green;
    */
    justify-content: center;
    align-items: center;
}
.toprank-element .accu{
    width: 9%;
    color: var(--text-color-inactive);
   /* background-color: orange;
    */
    justify-content: center;
    align-items: center;
    letter-spacing: -2px;
}
.chatbot {
    width: 100%;
    height: 610px;
}
.chatbot_messages {
    display: flex;
    width: 100%;
    height: 475px;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
}
.chatbot_messages::-webkit-scrollbar {
    width: 0px;
}
.message-box {
    width: 100%;
    display: flex;
}
.message-bot {
    justify-content: left;
}
.message-user {
    justify-content: right;
}
.message-bot .message-content {
    background-color: var(--background-infos);
    color: var(--text-color-active)!important;
}
.message-user .message-content {
    background-color: var(--background-ender-element);
}
.message-box div {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.message-box div .message-avatar {
    width: 80px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-box div .message-avatar img{
    width: 64px;
    height: 64px;
    border-radius: 8Px;
}
.btn.keybind{
    width: 80px!important;
}
.changeKeyBind.show {
    display: flex;
}
.changeKeyBind {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background-color: var(--background-ender-element);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
.changeKeyBind span:nth-child(1){
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.changeKeyBind span:nth-child(2){
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
}
.message-box div .message-content {
    padding-left: 10px;
    max-width: calc(80% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-inactive);
    padding: 8px;
    border-radius: 8px;
}
.chatbot_prompt {
    width: 100;
    display: flex;
    height: 70px;
    padding-right: 0px;
    justify-content: center;
    border-top: 2px solid rgba(255, 255, 255, 0.062);
}
.chatbot_prompt .send-btn {
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbot_prompt .send-btn m {
    transform: scale(2.5);
}
.chatbot_messages .interstis{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: var(--text-color-inactive);
}
.chatbot_prompt textarea {
    width: calc(100% - 120px);
    resize:none;
    border: none;
    background-color: var(--background-box);
    outline: none;
    color: var(--text-color-active);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
}
.chatbot_prompt textarea::placeholder {
    color: var(--text-color-inactive);
}
.chatbot_prompt textarea::-webkit-scrollbar {
    width: 0px;
}
.msg-animate {
    display: flex;
    min-width: 100px;
    height: 50px;
    justify-content:center;
    align-items: center;
    gap: 7px 
}
.msg-animate span {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}
.msg-animate span:nth-child(1) vb* {
    margin-top: 0px;
}
.msg-animate span:nth-child(2) {
    margin-top: 0px;
}
.msg-animate span:nth-child(3) {
    margin-top:0px;
}
@keyframes animatePoints {
    0% {
        transform: translateY(-10px);
   }
    50% {
        transform: translateY(0px);
   }
    100% {
        transform: translateY(-10px);
   }
}
.msg-animate span {
    animation: animatePoints 1.2s infinite;
}
.msg-animate span:nth-child(1) {
    animation-delay: 0.01s;
}
.msg-animate span:nth-child(2) {
    animation-delay: 0.10s;
}
.msg-animate span:nth-child(3) {
    animation-delay: 0.20s;
}
.settings-menu {
    width: 18%;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.settings-menu .navigate-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.12s ease-in-out;
}
.settings-menu .navigate-page:hover{
    background-color: rgba(255, 255, 255, 0.151);
}
.settings-menu .navigate-page.active {
    background-color: var(--button-color);
    cursor: pointer;
}
.settings-menu .navigate-page span{
    color: var(--text-color-active);
    margin-left: 10px;
    margin-top: -2px;
}
.settings-menu .navigate-page * {
    pointer-events: none;
}
.settings-page {
    display: flex;
    width: 78%;
    height: min-content!important;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    display: none;
}
.settings-page.active {
    display: flex;
}
.setting-element {
    width: calc(100% - 15px);
    height: 50px;
    background-color: var(--background-ender-element);
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
}
.setting-element .labelInfo {
    font-size: 14px;
    color: white;
    width: 180px;
}
.setting-element label {
    display: flex;
    width: 23%;
   /* background-color: var(--background-infos);
    */
    height: calc(100% - 10px);
    border-radius: 5px;
    align-items: center;
    padding-left: 10px;
    color: var(--text-color-active);
    padding-bottom: 2px;
}
.setting-element span {
    width: 75%;
    display: flex;
    align-items: center;
    padding-left:0px;
    flex-direction: row;
    gap: 10px;
}
.setting-element span .btn {
    width: 20%;
    height: 30px;
    background-color: var(--background-side-panel);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-inactive);
    padding-bottom: 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}
.setting-element span .warning {
    width: 220px;
    background-color: var(--background-warning);
    color: white;
}
.setting-element span .btn.active {
    background-color: var(--button-color);
    color: var(--text-color-active);
}
.setting-element span input[type=text], .setting-element span input[type=password]{
    padding-bottom: 1px;
    width: 76.5%;
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--background-infos);
    border-radius: 5px;
    color:var(--text-color-inactive);
}
.setting-element span input[type=range] {
    padding-bottom: 1px;
    width: calc(100% - 10px);
    background-color: var(--background-infos);
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    background: var(--background-infos);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}
.setting-element span .cred {
    width: 37.1%!important;
}
.setting-element span input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background:var(--button-color);
    cursor: pointer;
    border-radius: 22%;
}
.collections-list {
    width: 35%;
    height: 610px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.collection-name {
    height: 45px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--background-infos);
    align-items: center;
    overflow: hidden;
    display: flex;
    transition: all 0.08s ease-in;
}
.collection-name span {
    width: 95%;
    color: var(--text-color-inactive);
    background-color: var(--background-box);
    height: 100%;
    opacity: 0.7;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.collection-name span input {
    border: none;
    height: 100%;
    background: transparent;
    font-size: 18px;
    width: 100%;
    border-radius: 8px 0 0 8px;
    padding-left: 8px;
    color: white;
}
.collection-name span input:disabled {
    color: var(--text-color-inactive);
}
.collection-name span input[type="text"]:focus {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.075);
    color: white 
}
.collection-view {
    width: 60%;
}
.collection-name m {
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.added {
    height: 0px;
}
.box.transparent {
    background-color: transparent;
}
.devices-detect {
    width: 100%;
    height: calc(100% - 50px);
}
.devices-detect .nodevices{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}
.nodevices.noshow{
    display: none;
}
.devices-detect .nodevices span{
    color: white;
    font-size: 18px;
}
.devices-detect .nodevices span:nth-child(3){
    font-size: 14px;
}
.device-config {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.half-height {
    height: 120px;
}
.subbox {
    display: flex;
    gap: 5px;
    border-radius: 8px;
    width: 73%;
    height: 100px;
    padding-top: 10px;
    flex-direction: row!important;
    flex-wrap: wrap;
}
.subbox .setting-element{
    height: 30px;
    width: 31%;
}
.subbox .setting-element label{
    width: 70%;
}
.subbox .setting-element .colorPaletBtn{
    width: 30px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    border: 2px solid var(--background-side-panel);
}
.device-config .device-name {
    width: 100%;
    height: 45px;
    color: white;
    padding: 5px;
}
#notification-box {
    position: absolute;
    height: 80px;
    width: 250px;
    left: 1400px;
    top: 560px;
    background-color: var(--background-infos);
    opacity: 0.98;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: row;
    transition: all 0.30s ease-in-out;
}
#notification-box m {
    width: 50px;
}
#notification-box span {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
m {
    height: 32px;
    width: 32px;
    display: flex;
    background-repeat: no-repeat;
    background-size: auto;
    justify-content: center;
    align-items: center;
    background-position: center;
    cursor: pointer;
    transition: transform 0.08s ease-in-out;
}
m.nopointer{
    cursor: default;
}
m:hover {
    opacity: 0.9;
}
m.s1 {
    height: 12px;
    width: 12px;
    background-size: contain;
}
m.s2 {
    height: 16px;
    width: 16px;
}
m.s3 {
    height: 34px;
    width: 34px;
}
m.s4 {
    height: 48px;
    width: 48px;
}
m.s5 {
    height: 56px;
    width: 56px;
}
m.s6 {
    background-size:cover;
    height: 64px!important;
    width: 64px!important;
}
m.pointer {
    cursor: pointer;
    transition: all 0.16s ease-in-out;
}
note {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.flag {
    height: 22px;
    width: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
note.ssh {
    background-image: url('./icons/SSH.svg');
}
note.ss {
    background-image: url('./icons/SS.svg');
}
note.sh {
    background-image: url('./icons/SH.svg');
}
note.s {
    background-image: url('./icons/S.svg');
}
note.a {
    background-image: url('./icons/A.svg');
}
note.b {
    background-image: url('./icons/B.svg');
}
note.c {
    background-image: url('./icons/C.svg');
}
note.d {
    background-image: url('./icons/D.svg');
}
m.pointer:hover {
    opacity: 60%;
}
j {
    height: 18px;
    width: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

m.white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
m.glass-white {
    filter: invert(82%) sepia(1%) saturate(2%) hue-rotate(1deg) brightness(92%) contrast(90%);
}
m.glass-grey {
    filter: invert(53%) sepia(8%) saturate(1382%) hue-rotate(166deg) brightness(97%) contrast(90%);
}
m.soft-red {
    filter: invert(70%) sepia(90%) saturate(1600%) hue-rotate(299deg) brightness(98%) contrast(89%);
}
m.soft-green {
    filter: invert(39%) sepia(46%) saturate(1027%) hue-rotate(106deg) brightness(100%) contrast(100%);
}
